


header{
      height: 65%;
      width: 100%;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
}
h1{
      width: 100%;
      
}

header .container-buttons{
      display: flex;
      
      
      width: 100%;
      align-items: center;
      
}
button{
      justify-content: space-around;
}

main{
     height:100%;
      width: 100%;
      border:2px solid black;
      
      display: flex;
      justify-content: space-around;
      align-items: center;
}
.canvas-meme{
      width: 90%;
}
p{
      margin: 0;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:white;
      color: black;
      border: 2px solid black;
      font-family: Anton;
      font-size: 1rem;
}
img{
      height: 249px;
      width: 100%;
      background-color: black;
}
button{
      width: 100%;
      background-color: black;
      color: white;
      border-bottom: black;
}
footer .conteiner-descargar{
      height: 100px;
      display: flex;
      width: 90%;
      align-items: center;
      justify-content: center;


}
.button-descargar{
      height: 50px;
      width: 50%;
      background-color:#2e7d32 ;
}