body {
      background-color: black;
      position: relative;
}

header {
      height: 65%;
      width: 100%;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
}

h1 {
      width: 100%;
      font-family: comic sans-serif;

}

header .container-buttons {
      display: flex;
      width: 30%;
      align-items: center;
      justify-content: center;

}


.container-buttons .button-tit {
      justify-content: center;
      margin-bottom: 1rem;
      border: black;

}

main {
      height: 600px;
      width: 100%;
      border: 2px solid black;
      display: flex;
      justify-content: space-around;
      align-items: center;
}

body main .container-meme {
      height: 600px;
      width: 90%;
      max-width: 600px;
}

body main .container-meme .canvas-meme p {
      margin: 0;
      height: 50px;
      width: 100%;
      display: flex;
      align-items:center;
      justify-content: center;
      background-color: white;
      color: black;
      border: 2px solid black;
      font-family: Anton;
      font-size: 1rem;
      
     
}

body main .container-meme .canvas-meme #imgMeme {
      height: 400px;
      width: 100%;
      
      

}

body header button {

      width: 100%;
      background-color: black;
      color: white;
      border-bottom: black;
}

body .conteiner-descargar {
      height: 100px;
      display: flex;

      justify-content: center;
      align-items: center;


}

body .conteiner-descargar .button-descargar {
      height: 50px;
      width: 20%;
      background-color: #2e7d32;

}

body .asideImagen {
      width: 15%;
      background-color: black;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      height: 700px;
      justify-content: space-between;
      display: none;



}

aside .titulo-imagen {
      background-color: black;
      color: white;
}

body aside .asideImagen .titulo-aside-imagen {
      background-color: black;
      color: white;
      justify-content: start;
      display: flex;
      height: 10px;
      margin: 1rem;

}

body aside .asideImagen .titulo-aside-imagen .contenedor-fondo {
      display: flex;
      flex-direction: column;
}



aside .asideImagen .contenedor-filtros {
      color: white;
      margin-top: 3rem;
}

aside .contenedor-filtros .titulos-filtro {
      display: flex;
      flex-direction: column;
}

.contenedor-restablecer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
}

.asideTexto {
      width: 15%;
      background-color: black;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 900px;
      color: white;
      display: block;



}
input{
      margin-top: 1rem;
      margin-bottom: 1rem;
}

aside .asideTexto .cont-input-Color {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
}

aside .asideTexto .cont-input-contorno {
      display: flex;
      margin-top: 2rem;
      
}